<%= form_for([@issue.product, @issue]) do |f| %>
  <% if issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
      <% issue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :severity %>
    <%= f.select :severity, %w(COSMETIC MINOR MAJOR CRITICAL) %>
  </div>
  <div class="field">
  <%= f.label :comment %><br>
  <%= f.text_area :comment, rows: 10, cols: 60 %>
  </div>
 

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
