<h1>Issues for <%= @product.name %></h1>
        <p>  <%= image_tag("#{@product.code}.jpg", alt: "#{@product.name}", class: 'product_image_index') %>   </p> 

<table>
  <thead>
    <tr>
      <th colspan="10"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <th>Severity</th>
      <th>Comment</th> 
      <th>Actions</th> 
    </tr>  
    <% @issues.each do |issue| %>
      <tr>
        <td><%= issue.severity %></td>
        <td><%= issue.comment %></td>
          <td>
              <%= link_to 'Show', product_issue_path(issue.product, issue) %>
          </td>
          <% if current_customer.id == issue.customer.id%>
            <td>
                <%= link_to 'Edit', edit_product_issue_path(issue.product, issue) %>
            </td>
            <td><%= link_to 'Destroy', [issue.product, issue], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Issue', new_product_issue_path %>
<span class='action_4'>
  <%= link_to 'Back to products', root_path %>
</span>
