<p>
  <b>Severity:</b>
  <%= @issue.severity %>
</p>

<p>
  <b>Comment:</b>
  <%= @issue.comment %>
</p>

<%= link_to 'Edit', edit_product_issue_path(@issue.product, @issue) %> |
<%= link_to 'Back', product_issues_path(@issue.product) %>

