<h1>Reviews for <%= @product.name %></h1>
        <p>  <%= image_tag("#{@product.code}.jpg", alt: "#{@product.name}", class: 'product_image_index') %>   </p> 

<table>
  <thead>
    <tr>
      <th colspan="10"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <th>Rating</th>
      <th>Comment</th> 
      <th>Actions</th> 
    </tr>  
    <% @reviews.each do |review| %>
      <tr>
        <td><%= review.rating %></td>
        <td><%= review.comment %></td>
          <td>
              <%= link_to 'Show', product_review_path(review.product, review) %>
          </td>
          <% if current_customer.id == review.customer.id%>
            <td>
                <%= link_to 'Edit', edit_product_review_path(review.product, review) %>
            </td>
            <td><%= link_to 'Destroy', [review.product, review], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Review', new_product_review_path %>
<span class='action_4'>
  <%= link_to 'Back to products', root_path %>
</span>
